.wrapper-search {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos para el enlace */
.link-search {
    text-decoration: none;
    color: #333;
}

/* Estilos para los detalles del resultado */
.result-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos para el nombre del modelo */
.result-search p:nth-child(1) {
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos para el precio */
.result-search p:nth-child(2) {
    color: #e91e63; /* Puedes ajustar el color según tus preferencias */
    font-weight: bold;
    margin-top: 5px;
}
